Package: dbus-inetbox
Version: 0.0.1
Description: Adds support for Truma inetbox to Venus-OS
Section: utilities
Priority: optional
Maintainer: thespinmaster@github.com
License: MIT
Architecture: all
OE: dbus-inetbox
Source: https://github.com/thespinmaster/venus-os
Depends: opkg-manager